

.allPurchasesContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.allPurchasesUl {
    list-style-type: none;
    margin-left: 5rem;
    width: 70%;
}
.allPurchasesLi {
    font-size: 4rem;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.placeHolderInvisible {
    color: transparent;
}
.deleteButtonContainer {
    width: 10rem;
    height: 4rem;
    display: inline-block;
    width: 50%;
    margin-left: 10rem;
    
   
}
.deleteButtonContainerChild {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.deleteButton {
    font-size: 2.5rem;
    text-decoration: none;
    margin-right: 1rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    justify-self: flex-end;
}
